# Multi-layer Perceptron

In this notebook, we will be introducing the `keras` package. We will be using the same dataset that we used in the previous notebook. Let's create a multi-layer perceptron model.

In [125]:
# Import the required packages
import numpy as np
import pandas as pd
import random
import matplotlib
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD, RMSprop

random.seed(123)

# Otto Example

In [2]:
df_train = pd.read_csv("../data/otto/train.csv")
df_test = pd.read_csv("../data/otto/test.csv")

In [3]:
df_train.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [4]:
df_train.shape

(61878, 95)

In [5]:
df_train.target = pd.Categorical(df_train.target)

In [6]:
df_train.target.dtype

category

In [7]:
df_train['label'] = df_train.target.cat.codes

In [8]:
df_train.label.head(), df_train.target.head()

(0    0
 1    0
 2    0
 3    0
 4    0
 Name: label, dtype: int8, 0    Class_1
 1    Class_1
 2    Class_1
 3    Class_1
 4    Class_1
 Name: target, dtype: category
 Categories (9, object): [Class_1, Class_2, Class_3, Class_4, ..., Class_6, Class_7, Class_8, Class_9])

In [9]:
df_train.label.tail(), df_train.target.tail()

(61873    8
 61874    8
 61875    8
 61876    8
 61877    8
 Name: label, dtype: int8, 61873    Class_9
 61874    Class_9
 61875    Class_9
 61876    Class_9
 61877    Class_9
 Name: target, dtype: category
 Categories (9, object): [Class_1, Class_2, Class_3, Class_4, ..., Class_6, Class_7, Class_8, Class_9])

In [10]:
df_train = df_train.drop('id', axis=1)

In [11]:
X = df_train.ix[:,0:-2]

In [12]:
y_int = df_train['label']

In [13]:
from keras.utils.np_utils import to_categorical
y = to_categorical(y_int, 9)

In [31]:
y.shape, type(y)

((61878, 9), numpy.ndarray)

In [15]:
X.shape

(61878, 93)

In [122]:
model = Sequential()
model.add(Dense(output_dim=128, input_dim=X.shape[1], init='uniform'))
model.add(Activation('tanh'))

model.add(Dense(output_dim=128, input_dim=128, init='uniform'))
model.add(Activation('tanh'))

model.add(Dense(output_dim=9, input_dim=128, init='uniform'))
model.add(Activation('sigmoid'))

#model.summary()

In [123]:
#sgd = SGD(lr=0.1, decay=1e-6, momentum=0.9, nesterov=True)
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [124]:
model.fit(X, y, nb_epoch=10, batch_size=128, verbose=1)

Epoch 1/10
61878/61878 [==============================] - 1s - loss: 2.1383 - acc: 0.4347
Epoch 2/10
61878/61878 [==============================] - 2s - loss: 1.9693 - acc: 0.4876
Epoch 3/10
61878/61878 [==============================] - 1s - loss: 1.7441 - acc: 0.5065
Epoch 4/10
61878/61878 [==============================] - 1s - loss: 1.5775 - acc: 0.5209
Epoch 5/10
61878/61878 [==============================] - 1s - loss: 1.4025 - acc: 0.5279
Epoch 6/10
61878/61878 [==============================] - 2s - loss: 1.2343 - acc: 0.5411
Epoch 7/10
61878/61878 [==============================] - 2s - loss: 1.1302 - acc: 0.5477
Epoch 8/10
61878/61878 [==============================] - 2s - loss: 1.0570 - acc: 0.5633
Epoch 9/10
61878/61878 [==============================] - 2s - loss: 0.9920 - acc: 0.6027
Epoch 10/10
61878/61878 [==============================] - 2s - loss: 0.9269 - acc: 0.6615

### Try increasing epoch

### Change dimensions